* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-bre.bre.acx -text
/apertium-bre.bre.dix -text
/apertium-bre.bre.rlx -text
/apertium-bre.pc.in -text
/autogen.sh -text
/configure.ac -text
dev/editdist.py -text
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
texts/apertium.vislcg.txt -text
texts/bre-feats.tsv -text
texts/bremaik.vislcg.txt -text
texts/bro-gozh.vislcg.txt -text
texts/grammar.vislcg.txt -text
texts/miscellaneous.txt -text
texts/miscellaneous.vislcg.txt -text
texts/oab.txt -text
texts/oab.vislcg.txt -text
texts/puupankki/puupankki.bre.conllu -text
texts/war-bont.vislcg.txt -text
